<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="parts/common :: head"></head>
<body>
<nav th:insert="parts/navbar-admin :: navbar"></nav>
<div class="container mt-4">
    <h1>Создать лист питания и межблочной связи</h1>
    <form action="#" th:action="@{/connections/create}" th:object="${connect}" method="post">
        <div class="form-row align-items-top">
            <div class="col-sm-3 my-1" style="max-width: 350px; flex: 0 0 100%;">
                <div class="form-group">
                    <label for="products">Выберите модели:</label>
                    <select multiple class="form-control" id="products" name="products">
                        <!--                        <option th:each="product : ${products}" th:value="${product.id}" th:utext="${product.name}"/>-->
                        <th:block th:each="product : ${products}">
                            <option th:if="${product.id == productId}" th:value="${product.id}" th:utext="${product.name}" selected></option>
                            <option th:unless="${product.id == productId}" th:value="${product.id}" th:utext="${product.name}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="col my-1">
                <div class="form-group">
                    <label for="content">Заполните лист:</label>
                    <textarea class="editor" name="content" id="content" rows="10">
            </textarea>
                </div>
                <input type="hidden" th:value="${brandId}" name="brandId"/>
                <div align="right">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>

    </form>
</div>
<th:block th:insert="parts/editor :: editor"></th:block>
<div th:insert="parts/common :: scripts"></div>
</body>
</html>