<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="parts/common :: head"></head>
<body>
<nav th:insert="parts/navbar :: navbar"></nav>
<div class="container mt-4">
    <th:block th:if="${brand.filename}">
        <div class="container mt-4" >
            <img th:src="@{/img/{url}(url=${brand.filename})}" width="200">
        </div>
    </th:block>
    <div class="container mt-4" >
        <input class="form-control" type="text" id="elastic" th:placeholder="'Поиск модели '+${brand.name}+' типа '+ ${type}">

        <div class="elastic">
            <th:block th:each="product : ${products}">
                <a th:href="'/product/'+${product.id}" ><p class="hide" th:utext="${product.name}"></p></a>
            </th:block>
        </div>
    </div>
    <div class="container mt-4" >

        <table>
            <tbody>

            <tr>
                <td valign="middle" style="width: 200px">
                    <h6>Выберите модель:</h6>
                </td>
                <td valign="middle" align="center" width="60%">
                    <select class="form-control"  name="series" id="series" onchange="window.location.href=this.options[this.selectedIndex].value">
                        <option selected disabled>Модель не выбрана</option>
                        <th:block th:each="product : ${products}">
                            <option th:if="${currentProduct} == ${product}" th:value="'/product/'+${product.id}" th:utext="${product.name}" selected></option>
                            <option th:unless="${currentProduct} == ${product}" th:value="'/product/'+${product.id}" th:utext="${product.name}"></option>
                        </th:block>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <th:block th:if="${currentProduct}" th:object="${currentProduct}">
        <div class="container mt-3">
            <ul class="nav nav-pills mb-3"  id="pills-tab" role="tablist">
                <li th:if="*{connect}" class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Питание и межблочная связь</a>
                </li>
                <li th:if="*{size}" class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Установочные размеры</a>
                </li>
                <li th:if="*{error}" class="nav-item" role="presentation">
                    <a class="nav-link" id="error-list-tab" data-toggle="pill" href="#error-list" role="tab" aria-controls="pills-contact" aria-selected="false">Коды ошибок</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div th:if="*{connect}" class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><div th:utext="*{connect.content}"></div></div>
            <div th:if="*{size}" class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="row justify-content-md-center">
                    <div class="row">
                    <div class="col">
                        <div th:remove="tag" th:utext="*{size.content}"></div>
                    </div>
                    <div th:if="*{size.filename} and *{size.filename} != ''" class="col-md-auto">
                        <img th:src="@{/img/{url}(url=*{size.filename})}" class="img-fluid" style="max-width: 400px">
                    </div>
                    </div>
                </div>
            </div>
            <div th:if="*{error}" class="tab-pane fade" id="error-list" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div th:utext="*{error.content}"></div>
            </div>
        </div>
    </th:block>
</div>
<script>
    document.querySelector('#elastic').oninput = function () {
        let val = this.value.trim().toUpperCase();
        let elasticItems = document.querySelectorAll('.elastic p');
        if (val !== '') {
            elasticItems.forEach(function (elem) {
                if (elem.innerText.toUpperCase().search(val) === -1) {
                    elem.classList.add('hide');
                    elem.innerHTML = elem.innerText;
                }
                else {
                    elem.classList.remove('hide');
                    let str = elem.innerText;
                    elem.innerHTML = insertMark(str, elem.innerText.toUpperCase().search(val), val.length);
                }
            });
        }
        else {
            elasticItems.forEach(function (elem) {
                elem.classList.add('hide');
                elem.innerHTML = elem.innerText;
            });
        }
    }

    function insertMark(string, pos, len) {
        return string.slice(0, pos) + '<mark>' + string.slice(pos, pos + len) + '</mark>' + string.slice(pos + len);
    }</script>
<div th:insert="parts/common :: scripts"></div>
</body>
</html>